{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "linebreak-style": [ "error", "unix" ],
    "no-console": [ "error", { "allow": [ "warn", "error", "log" ] } ],
    "no-unused-vars": 1,
    "no-undef": 1,
    "camelcase": 1,
    "func-names": [ "error", "never" ],
    "prettier/prettier": "error"
  },
  "globals": {
    "jQuery": true,
    "classie": true,
    "jsPDF": true,
    "module": true,
    "theme": true,
    "google": true,
    "require": true,
    "Vimeo": true,
    "OnLoadCallback": true,
    "gapi": true,
    "objectFitImages": true,
    "flexibility": true
  }
}
