input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
  border: 1px solid $light-grey;
  appearance: none;
  color: $dark-grey;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

textarea {
  padding: #{($line-height-unitless/2)}rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  background-color: $link-color;
  color: $white;
  padding: 0.25rem 0.5rem;
  margin-bottom: $line-height;
  border: 1px solid $link-color;
  border-radius: 0.125rem;
  cursor: pointer;
  &:hover {
    background-color: tint($link-color, 10%);
  }
  &:active {
    background-color: shade($link-color, 5%);
  }
}
